<div class="alert alert-success">
    Order status: Ready to ship
</div>
<div class="alert alert-info">
    <h3>Instructions</h3>
    <ol>
        <li>Click a <i>Get best location</i> button and the system will tell you the best place to pick up your item.
        </li>
        <li>Pick the items and check the <i>Got it</i> box.</li>
        <li>After you've picked, packed, and shipped your last item, click <i>Mark as shipped</i></li>
    </ol>
    <p> If there's a problem and you need a supervisor to look at it, hit the "Problem" button.</p>
</div>
<section id="orderInfo">
    <ul class="list-group">
        <li class="list-group-item">
            Order number: 11065
        </li>
        <li class="list-group-item">
            Order date: {{order.orderDate}}
        </li>
        <li class="list-group-item">
            Ship via: {{order.shipVia}}
        </li>
    </ul>
</section>
<section id="orderLines">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Got it!</th>
                <th>Location</th>
                <th>ID</th>
                <th>Name</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let orders of order.lines">
                <td><input type="checkbox" class="big-checkbox"></td>
                <span *ngIf="orders.locationID; else showButton">
                    {{orders.locationID}}
                </span>
                <ng-template #showButton>
                    <button class="btn btn-info">Get best location</button>
                </ng-template>
                <td>{{orders.productID}}</td>
                <td><img src={{orders.product.imageUrl}}></td>
                <td>{{orders.quantity}}</td>
            </tr>
        </tbody>
    </table>
</section>
<section id="markAsShipped">
    <button class="btn btn-lg btn-primary">Mark as shipped</button>
    <button class="btn btn-lg btn-danger">Problem</button>
</section>
<section id="shippingLabel">
    <h3>Shipping Label</h3>
    <pre>
    {{order.shipName}}
    {{order.shipAddress}}
    {{order.shipCity}}, {{order.shipRegion}} {{order.shipPostalCode}}
    {{order.shipCountry}}
    </pre>
</section>
